* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.chatScreen {
    background-color: #101010;
    width: 60vw;
    height: 90vh;
    padding: 5px;
    border-radius: 15px;
}

.chatHeader {
    background-color: #343434;
    height: 10%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 5px solid #212121;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    box-sizing: border-box;
}

.headerTitle {
    font-size: 2.5rem;
    color: #F5F5F5;
}

.msgScreen {
    background-image: url(./images/background.png);
    background-size: cover;
    width: 100%;
    height: 80%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    overflow: auto;
}

.sendMsg {
    background-color: #343434;
    height: 10%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing:border-box;
    border-top: 5px solid #212121;
    min-height: 50px;
}

.areaText {
    resize: none;
    width: 85%;
    box-sizing: border-box;
    height: 70%;
    background-color: #343434;
    border: none;
    color: #F5F5F5;
    padding: 5px;
    outline: none;
    font-size: 1.125rem;
    overflow: hidden;
}

.sendButton {
    box-sizing: border-box;
    background-color: #343434;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.sendMsg img {
    width: 35px;
    height: 35px;
}



.boxMensagem {
    padding: 1rem;
    background-color: #9E9E9E;
    opacity: 0.75;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
    gap: 1rem;
}

.textoMensagem {
    font-size: 1.25rem;
    color: #212121;
    width: 85%;
    word-wrap: break-word;
}

.botaoExcluir {
    width: 20px;
    height: 22px;
    background-image: url(./images/trash.svg);
    background-size: cover;
    background-color: #9E9E9E;
    border: none;
    cursor: pointer;
}

.botaoEditar {
    width: 20px;
    height: 20px;
    background-image: url(./images/pencil.svg);
    background-size: cover;
    background-color: #9E9E9E;
    border: none;
    cursor: pointer;
}

.editAreaText {
    width: 85%;
    background-color: #9E9E9E;
    resize: none;
    outline: none;
    border: none;
    font-size: 1.25rem;
    overflow: hidden;
}

.botaoEditarMsg {
    padding: 5px 10px;
    font-size: 1.125rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}